*{
    width:100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 20vh;
}
header, footer, main, aside, article, .small_blocks {
    display: flex;
    align-items:center;
    justify-content: center;
}
header, footer {
    background-color: #b2ebb4;
}
main,aside, article {
    height: 58vh;
    margin: 1vh 0;
}
aside, article {
    width: 20%;
    background-color: #9ebae6;
    margin-right:1%;
}
article{
    width: 80%;
    background-color: #eb4034;
    flex-wrap: wrap;
}
p {
    text-align:center;
}
.small_blocks {
    width: 31%;
    background-color: #e0dc80;
    margin: 1%;
}